<nav class="navbar navbar-expand-lg image-background white">
    <div class="navbar-brand">
        <a class="header whitelink" href="{{ urlRoot }}">{{ siteTitle }}</a>
    </div>

    <div class="collapse navbar-collapse">
        <div class="navbar-nav mr-auto">
            <ol class="breadcrumb">
                {% for item in breadcrumb %}
                {% if loop.index == loop.length %}
                <li class="breadcrumb-item" aria-current="page">{{ item[0] }}</li>
                {% else %}
                <li class="breadcrumb-item"><a class="whitelink" href="{{ item[1] }}">{{ item[0] }}</a></li>
                {% endif %}
                {% endfor %}
            </ol>
        </div>

        {# {% if searchPage != True %}
            <div class="form-inline my-2 my-md-0">
                {% include "components/searchbox.html" %}
            </div>
        {% endif %} #}
    </div>

</nav>